body {
  font-family: 'Roboto', sans-serif;
  /*background-color: lemonchiffon;*/
  color: darkcyan;
  font-weight: bold;
}

#container {
  display: flex;
  /* alinha ao centro e ao meio
  align-items: center;*/
  /* alinha ao centro*/
  justify-content: center;
}

.search-people,
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-people {
  padding-bottom: 20px;
}

.card-users,
.card-statistics {
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  margin-right: 10px;
  width: 25%;
  padding-left: 10px;
  padding-top: 10px;
  background-color: aliceblue;
}

.card-statistics {
  height: 130px;
}

ul li {
  list-style: none;
  margin-top: 2px;
}

ul li span {
  color: red;
}
.add {
  border-radius: 50%;
  font-weight: bold;
}

#users-list-grid {
  padding-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  width: 100px;
  height: 30px;
  color: black;
}

button {
  background-color: #fff;
  color: black !important;
  border: 1px solid cornflowerblue;
  border-radius: 50px !important;
}

#inputSearch {
  border: 2px solid cornflowerblue;
  border-radius: 50px;
  box-sizing: border-box;
  width: 40%;
  padding: 0px 15px;
  height: 2.5rem;
  font-size: 1rem;
  color: black;
  background-color: aliceblue;
}
